@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Grandstander", Sans-serif;
    color: white;
    font-size: 20px;
    background-color: #12151d;
  }

  h2 {
    font-size: 25px;
    font-weight: 700;
  }

  h4 {
    font-size: 20px;
  }

  @media (min-width: 1200px) {
    h2 {
      font-size: 35px;
    }

    h4 {
      font-size: 25px;
    }
  }
}
